<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>youtube-dl Web Interface</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta property="og:type" content="article">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
  <meta property="og:title" content="youtube-dl Web Interface" />
  <meta property="og:description" content="Simple web frontend for yt-dlp" />
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>youtube-dl Web Interface</h1>
      <p>After around 3.5 years of running this interface, I've decided to shut it down.
        This was done for a few reasons; the server-side code was a mess and difficult to manage, it was difficult to keep up with youtube-dl (and later yt-dlp) updates, there was a good amount of people abusing the frontend, it was constantly blocked by major services (largely due to said abuse), and better solutions have been made available since I started running this.</p>
      <p>The iOS shortcut is no longer available. For your web-based downloading needs, I recommend <a href="https://cobalt.tools">cobalt</a>; it has a simple/clean interface, supports downloading from nearly all of the major platforms, has all sorts of options, and <a href="https://github.com/wukko/cobalt/blob/current/docs/API.md">even has an API</a>. Consider it as a sort of spiritual successor. (Using <a href="https://github.com/yt-dlp/yt-dlp">yt-dlp</a> itself from the console isn't a bad idea either.)</p>
      <p>Thank you to those who used this interface over the years. ❤️</p>
      <p>- <a href="https://essem.space">Essem</a></p>
    </div>
  </div>
</body>

</html>
